.header {
  background: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s;
  z-index: 1000;
}

.header--bg {
  background-color: rgba(black, 0.55);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
