#homePage {
  margin-bottom: 20rem;
}

@keyframes bgAnimIn1 {
  100% {
    transform: skew(0deg, 6deg);
    opacity: 1;
  }
}

@keyframes bgAnimIn2 {
  100% {
    transform: skew(0deg, -6deg);
    opacity: 1;
  }
}

@keyframes bgAnimIn1-1 {
  100% {
    transform: skew(0deg, -10deg);
    opacity: 1;
  }
}

@keyframes bgAnimIn2-1 {
  100% {
    transform: skew(0deg, 10deg);
    opacity: 1;
  }
}

@keyframes bgAnimOut1 {
  0% {
    transform: skew(0deg, 6deg);
    opacity: 1;
  }
  100% {
    transform: skew(0deg, 0deg);
    opacity: 0;
  }
}
@keyframes bgAnimOut2 {
  0% {
    transform: skew(0deg, -6deg);
    opacity: 1;
  }
  100% {
    transform: skew(0deg, 0deg);
    opacity: 0;
  }
}
.bgContainer {
  width: 100vw;
  overflow: hidden;
}
.bgAnim1,
.bgAnim2 {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  background: rgba($color: $eva-purple, $alpha: 0.1);
  z-index: -99;
  transition: all 0.5s;
  overflow: hidden;
}

.bgAnim1 {
  animation: bgAnimIn1 1s forwards;
}
.bgAnim2 {
  animation: bgAnimIn2 1s forwards;
}

.bgAnim1-1,
.bgAnim2-1 {
  background: rgba($color: $turquesa, $alpha: 0.1);
}
.bgAnim1-1 {
  animation: bgAnimIn1-1 1s forwards;
  background: linear-gradient(
    90deg,
    rgba(#333333, 0.1) 0%,
    rgba($turquesa, 0.1) 70%,
    rgba($turquesa, 0.2) 100%
  );
  right: 50%;
}
.bgAnim2-1 {
  animation: bgAnimIn2-1 1s forwards;
  background: linear-gradient(
    90deg,
    rgba($turquesa, 0.2) 0%,
    rgba($turquesa, 0.1) 70%,
    rgba(#333333, 0.1) 100%
  );
  left: 50%;
}

.bgAnim1.bgAnimOut {
  animation: bgAnimOut1 1s;
}
.bgAnim2.bgAnimOut {
  animation: bgAnimOut2 1s;
}

.home__content {
  padding-top: 18rem;
  text-align: center;
}

.home__picture {
  position: relative;
  margin-bottom: $xl-size;
}

.home__profileImg {
  width: 25%;
  border-radius: 50%;
}

.home__imgText {
  color: $off-white;
  font-size: $m-size;
  position: absolute;
  top: -55px;
  left: 50%;
}

.curvedLetter {
  transform-origin: 0 100%;
  font-family: "Bebas Neue", cursive;
  color: $turquesa;
  font-size: 2.2rem;
}

.home__textContainer {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.home__textContainer--left {
  @extend .home__textContainer;
  text-align: left;
  align-items: flex-start;
  > .home__descText {
    margin: 0;
  }
}

.home__textContainer--right {
  @extend .home__textContainer;
  text-align: right;
  align-items: flex-end;
  > .home__descText {
    margin: 0;
  }
}

.home__descText {
  margin: auto;
  font-size: $l-size;
  font-weight: 400;
  max-width: 70%;
  color: white;

  p {
    margin-bottom: none;
  }
  span {
    font-weight: 500;
  }
}

.home__iconContainer {
  color: $turquesa;
  max-width: 50%;
  margin: 12rem auto 33rem auto;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#resumeText {
  margin-bottom: 30rem;
}

.textIconBox {
  position: relative;
}

.textIconBox__text {
  margin-bottom: 30rem;
}

.home__descText--mini {
  @extend .home__descText;
  font-size: $m-size;
  max-width: 50%;
}

.home__sectionTitle {
  font-size: $m-size;
  color: white;
  padding-bottom: 8px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: $m-size;

  //UNDERLINE

  &:before,
  &:after {
    content: "";
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 3px;
  }
}

.textIconBox__icon {
  position: absolute;
  bottom: 3rem;

  &:after {
    content: "";
    opacity: 0.3;
    position: absolute;
    bottom: -3rem;
    left: 0;
    right: 0;
    height: 10px;
    border-radius: 50%;
    filter: blur(5px);
  }
}

.textIconBox__icon--right {
  @extend .textIconBox__icon;
  right: 0;
}

.textIconBox__icon--left {
  @extend .textIconBox__icon;
  left: 0;
}

.textIconBox__icon__svg {
  height: 12rem;
  width: 12rem;
}

#motivationBox,
#presentationBox {
  .home__sectionTitle {
    &:before,
    &:after {
      background-color: $turquesa;
    }
  }
  .home__descText span,
  svg {
    color: $turquesa;
  }
  .textIconBox__icon__svg {
    fill: $turquesa;
    &:after {
      background-color: $turquesa;
    }
  }
}

#findBox {
  .textIconBox__text {
    margin-bottom: 20rem;
  }
  .home__sectionTitle {
    &:before,
    &:after {
      background-color: $eva-purple-l;
    }
  }
  .home__descText span,
  svg {
    color: $eva-purple-l;
    g {
      fill: $eva-purple-l;
    }
  }
  .textIconBox__icon__svg {
    fill: $eva-purple-l;
    &:after {
      background-color: $eva-purple-l;
    }
  }
}

@keyframes swinging {
  0% {
    top: 25px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 25px;
  }
}
@keyframes swinging2 {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 25px;
  }
}

.home__downArrow {
  svg {
    position: fixed;
    bottom: 5px;
    left: 50%;
    animation: swinging2 1s ease-in-out infinite;
    color: $turquesa;
    z-index: 100;
  }
}
