@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotating0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.welcomePage {
  background-color: darken($eva-purple, 20%);
  width: 100vw;
  height: 100vh;
  .loader {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    transition: transform 1s linear;
    animation: rotating 8s linear infinite;
  }
  overflow: hidden;
}

.loader--inactive {
  .loader {
    animation: rotating0 1s ease forwards;
    > div {
      &:first-of-type {
        &:after {
          background: darken($eva-purple, 22%);
          box-shadow: 0 0 25px darken($eva-purple, 22%);
        }
      }

      > div {
        &:after {
          box-shadow: 0 0 12px darken($eva-purple, 22%);
          background-color: darken($eva-purple, 22%);
        }
      }
    }
  }
}

.welcomePage__inButton {
  position: absolute;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: 150px;
  box-shadow: inset 0 0 0 2px $off-white;
  color: $off-white;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;

  span {
    letter-spacing: 2px;
  }

  &:hover {
    width: 180px;
    height: 60px;
    margin-left: -90px;
    margin-top: 145px;
    line-height: 60px;
  }
  &::before,
  &::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
  }
  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $turquesa; // Make borders visible
    border-right-color: $turquesa;
    transition: width 0.25s ease-out,
      // Width expands first
        height 0.25s ease-out 0.25s; // And then height
  }

  &:not(.disabled):hover::after {
    border-bottom-color: $turquesa; // Make borders visible
    border-left-color: $turquesa;
    transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  }
}

.disabled {
  cursor: default;
  box-shadow: inset 0 0 0 2px darken($eva-purple, 22%);
  color: darken($eva-purple, 22%);
}

.welcomePage__bounceContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.welcomePage__rollIcon {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  transition: top linear, left linear, transform linear, height ease-in;
  // transition-timing-function: linear;
  svg {
    transition: all 0.5s linear;
    font-size: 10em;
    color: darken($eva-purple, 22%);
  }
}

.welcomePage__rollIcon--circle {
  @extend .welcomePage__rollIcon;
  height: 400px;
  top: calc(50% - 200px) !important;
  left: calc(50% - 20px) !important;
  svg {
    font-size: 3em;
  }
  .fa-node-js {
    color: #68a063;
  }
  .fa-html5 {
    color: #e44d26;
  }
  .fa-react {
    color: #61dafb;
  }
  .fa-css3-alt {
    color: #2965f1;
  }
}
